<div class="project-summary">
  <div><%= project.title %></div>
  <div><%= project.description %></div>
  <div><%= project.project_link %></div>
  <div><%= project.website_link %></div>
  <div><%= link_to 'Show', project %></div>
  <div><%= link_to 'Edit', edit_project_path(project) %></div>
  <div><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></div>
</div>
