<h1>Showing Project</h1>
<table class="table table-responsive">
  <tbody>
    <tr>
      <th><strong>Title:</strong></th>
      <td><%= @project.title %></td>
    </tr>
    <tr>
      <th><strong>Description:</strong></th>
      <td><%= @project.description %></td>
    </tr>
    <tr>
      <th><strong>Project link:</strong></th>
      <td><%= @project.project_link %></td>
    </tr>
    <tr>
      <th><strong>Website link:</strong></th>
      <td><%= @project.website_link %></td>
    </tr>
  </tbody>
</table>
<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
